name: CML

on: [push]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

jobs:
  test_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Get NPM version
      uses: EndBug/version-check@v1
      id: npmcheck

    - name: Version update detected
      if: steps.npmcheck.outputs.changed == 'true'
      run: 'echo "Version change found! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'

    - name: Check if NPM version is updated
      if: steps.npmcheck.outputs.changed != 'true'
      run: |
        printf "NPM version ${{ steps.npmcheck.outputs.version }} already exists! \nPlease update package.json version accordingly."
        exit 1

    - name: Publish to NPM
      if: github.event_name == 'push' && (contains(github.ref, 'tags') || github.ref == 'refs/heads/master')
      run: |
        npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
        npm publish
      env:
        NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
