name: CML

on: [push]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 

jobs:
  test_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Get NPM version
      id: check
      uses: EndBug/version-check@v1

    - name: Check if NPM version is updated
      if: steps.check.outputs.changed != 'true'
      run: |
        echo "NPM version $NPM_VERSION already existing! \nPlease update package.json version accordingly."
        exit 1
      env:
        NPM_VERSION: ${{steps.check.outputs.version}}

    - name: Publish to NPM
      if: github.event_name == 'push' && (contains(github.ref, 'tags') || github.ref == 'refs/heads/master')
      run: |
        npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
        npm publish
      env:
        NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
